@tailwind base;
@tailwind components;
@tailwind utilities;


.mb-lg-0{
    margin: 0 auto;
}


.header{
    background:#e1ebfa;
    width: 100%;
    /* height: 100vh; */
}

.img-header{
    border-radius:48% 52% 43% 57% / 56% 57% 43% 44%  ;
}   

.bsb-tpl-font-hw{
    font-family: Satisfy, cursive !important;
}

@media screen and (max-width: 991px) {
    #flex{
        flex-direction: column;
    }
}

.bsb-tpl-bg-yellow {
    background: #f2e9ac;
}

.bsb-tpl-bg-green{
    background: #caf0c7;
}

.bsb-tpl-bg-pink{
    background: #ffe9f3;
}

.bsb-tpl-bg-cyan {
    background: #cdf7f6;
}

svg{
    display: inline;
}


.bg-text{
    background: linear-gradient(120deg,#fff3cd,#fff3cd);
    background-position: 0 80%;
    background-repeat: no-repeat;
    background-size: 100% 20%;
    font-family: "Satisfy", cursive;
    color: rgba(163, 0, 0, 1);
}

.bg-font{
    background-image: linear-gradient(120deg, #b8e1ff, #b8e1ff) !important;
}

.section2{
    background: url("https://bootstrapbrain.com/demo/templates/wave/wave-lite/assets/img/cta/cta-img-1.jpg") rgb(0, 0, 0);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
    background-attachment: fixed;
}

.bg-text2{
    background: linear-gradient(120deg, #e4a0a1, #e4a0a1);
    background-position: 0 80%;
    background-repeat: no-repeat;
    background-size: 100% 20%;
}

.bsb-overly{
    opacity: 0.9;
    background: black;
    position: relative;
}

.join-us{
    background-color: #a30000;
    color: white;
}

@media screen  and (max-width: 500px) {
    .font{
        font-size: 2.5rem;
    }
}

.width{
    width: 90%;
}